.portrait{
    background: url("portrait.jpg");
    height: 40px;
    width: 40px;
    display: block;
    background-repeat: no-repeat;
    background-size: cover;
}

.centered{
    text-align: center;
}

.card-topped{
    margin-top: 0.75rem;
    margin-bottom: 0.75rem;
}

.nameBody{
    background-image: url("goodmookie.svg");
    background-position: center;
    background-repeat: no-repeat;
    /* background-size: cover; */
    min-height:300px;
    /* background-position: 50% 80%; */
    margin:0;
    padding:0;
}

.mookieBackground{
    background-image: url("goodmookie.svg");
    background-position: right;
    background-repeat: no-repeat;
}
.outerName{
    width:100%;
    /* Center nameBody */
    text-align:center;
    background-color: rgba(0,0,0,0.5);
    color:#fff;


}

.nameBodyContent{
    /* height:100%; */
    /* Center nameBody */
    transform: translateY(-60%);
    top:60%;
    position:absolute;
}
.snackable{
    transform: translateY(-60%);
    top:60%;
    position:absolute;
    left:50%;
    width:300px;
}
.nameBodyContent2{
    transform: translateY(-80%);
    top:80%;
    left:3%;
    position:absolute;

}

.fancyfont{
    font-family: 'Cookie',cursive;
    color:#fff;
}

.outerAbout{
    text-align: center;
    font-family: 'Cookie',cursive;
}


/* Play gif of app while hovering over image */
.card-img-top{
    height:25rem; 
    width:100%;
    background-position:center;
    background-repeat:no-repeat;
    background-size:contain;
}

.ohdCard{

    background-image:url("gifs/OHD_siteV3_display.gif");
    background-image:url("OHDHomeScreen.png");
}

.ohdCard:hover {
    background-image:url("gifs/OHD_siteV3_display.gif");
}

.mookieCard{
    background-image:url("gifs/MDough1.gif");
    background-image:url("colM0.jpg");
}

.mookieCard:hover{
    background-image:url("gifs/MDough1.gif");
}

.flickrCard{
    background-image:url("gifs/FlickrApp.gif");
    background-image:url("imgRetriever.png");
}

.flickrCard:hover{
    background-image:url("gifs/FlickrApp.gif");
}