.portrait{
    background: url("portrait.jpg");
    height: 40px;
    width: 40px;
    display: block;
    background-repeat: no-repeat;
    background-size: cover;
}

.centered{
    text-align: center;
}

.card-topped{
    margin-top:30px;
}

.nameBody{
    background-image: url("goodmookie.svg");
    background-position: center;
    background-repeat: no-repeat;
    /* background-size: cover; */
    min-height:300px;
    /* background-position: 50% 80%; */
    margin:0;
    padding:0;

    
    

}

.outerName{
    width:100%;
    /* Center nameBody */
    text-align:center;
    background-color: rgba(0,0,0,0.5);
    color:#fff;


}

.nameBodyContent{
    /* height:100%; */
    /* Center nameBody */
    transform: translateY(-60%);
    top:60%;
    position:absolute;
}
.snackable{
    transform: translateY(-60%);
    top:60%;
    position:absolute;
    left:50%;
    width:300px;
}
.nameBodyContent2{
    transform: translateY(-80%);
    top:80%;
    left:3%;
    position:absolute;

}

.fancyfont{
    font-family: 'Cookie',cursive;
    color:#fff;
}