

.portrait{
    background: url(portrait.jpg);
    height: 40px;
    width: 40px;
    display: block;
    background-repeat: no-repeat;
    background-size: cover;
}

.centered{
    text-align: center;
}

.card-topped{
    margin-top:30px;
}